<div class="col-start-2 col-span-10 mx-4 mr-0 font-normal text-zinc-400 text-xs">
  query '<%= query %>', results <%= weather_count %>
  <span class="float-right font-normal text-zinc-400 text-xs">
    <%= Time.now %>
  </span>
</div>

<table class="col-start-2 col-span-10">
  <thead class="font-normal text-left text-[0.8125rem] leading-6 text-zinc-800">
    <tr>
      <th class="p-4 pr-6">name</th>
      <th class="p-4 pr-6">temp</th>
      <th class="p-4 pr-6">feels like</th>
      <th class="p-4 pr-6">last updated</th>
      <th class="p-4 pr-6"></th>
    </tr>
  </thead>
  <tbody>
    <% weather_list.each do |weather| %>
      <tr class="group hover:bg-zinc-50 odd:bg-white even:bg-slate-50 text-sm">
        <% seconds_ago = weather.dig(:seconds_ago) %>
        <% seconds_alert = seconds_ago < 60 ? 'bg-yellow-400' : '' %>

        <td class="p-4 pr-6 font-normal <%= seconds_alert %>"><%= weather.dig(:name) %></td>
        <td class="p-4 pr-6 font-normal <%= seconds_alert %>"><%= weather.dig(:temp) %></td>
        <td class="p-4 pr-6 font-normal <%= seconds_alert %>"><%= weather.dig(:feels_like) %></td>
        <td class="p-4 pr-6 font-normal text-xs <%= seconds_alert %>">
          <% if seconds_ago < 60 %>
            just now
          <% elsif seconds_ago < (60 * 60) %>
            <%= seconds_ago / 60 %> mins ago
          <% elsif seconds_ago < (60 * 60 * 12) %>
            <%= seconds_ago / (60 * 60) %> hours ago
          <% else %>
            <a class="cursor-pointer hover:underline text-blue-800 font-semibold" hx-post=<%= "/weather/#{weather.dig(:id)}" %> hx-target="#weather-table">
              <%= seconds_ago / (60 * 60) %> hours ago
            </a>
          <% end %>
        </td>
        <td class="p-4 pr-6 font-normal text-sm <%= seconds_alert %>">
          <a class="cursor-pointer hover:underline text-pink-600 font-semibold p-1 text-xs" hx-delete=<%= "/weather/#{weather.dig(:id)}" %> hx-target="closest tr" hx-swap="outerHTML swap:1s">
            x
          </a>
    </td>
      </tr>
    <% end %>    
  </tbody>
</table>

<% if weather_filter == 0 %>
  <span hx-post="/weather/refresh" hx-target="#weather-table" hx-trigger="every 60s"/>
<% end %>
