<div class="flex flex-row">
    <div class="flex flex-col mx-auto mt-10">
        <h3 class="font-bold mx-auto">
            <%= app_name %>
        </h3>
        <div class="mx-auto mt-2 opacity-50 text-xs text-zinc-400">
            @<%= app_version %>
        </div>
    </div>
</div>

<div class="flex flex-row mx-auto mt-10">
    <div class="w-1/12"></div>
    <div class="w-1/3 font-bold text-sm">
        <%= place.name %>,
        <%= place.city %>
    </div>
</div>

<div id="place-tags">
    <%= render "places/edit_tags", locals: {
        place: place, places_tags_path: places_tags_path,
    } %>
</div>

<div id="place-brands">
    <%= render "places/edit_brands", locals: {
        place: place, places_brands_path: places_brands_path,
    } %>
</div>

<div id="place-website">
    <%= render "places/edit_website", locals: {
        place: place, places_website_path: places_website_path,
    } %>
</div>

<div id="place-notes">
    <%= render "places/edit_notes", locals: {
        place: place, places_notes_path: places_notes_path,
    } %>
</div>


<div class="flex flex-row mt-10">
    <div class="flex flex-col mx-auto mt-10">
        <a href="<%= referer_path %>">
            <button class="px-3 py-2 font-semibold place-self-center text-xs bg-blue-700 text-white rounded shadow-sm">
                Done
            </button>
        </a>
    </div>
</div>
