<div class="flex flex-row mt-5">
    <div class="w-1/12"></div>
    <div class="font-normal text-zinc-400 text-xs">
        query '<%= places_query %>', results <%= offset+1 %> - <%= [offset+limit, total].min %> of <%= total %>
    </div>
</div>

<div class="flex flex-row mt-10">
    <div class="w-1/12"></div>
    <div class="w-10/12">
        <% if city %>
            <button class="rounded-full text-xs font-bold text-white bg-blue-700 py-1 px-3 mr-5">
                <%= city.name %>
                <a href="/places">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="float-right ml-2 size-4">
                        <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
                    </svg>
                </a>
            </button>
        <% end %>

        <% tags_list.each do |tag| %>
            <% if tags_cur.include?(tag) %>
                <button class="rounded-full text-xs font-bold text-white bg-orange-300 py-1 px-2"><%= tag %></button>
            <% else %>
                <a href="<%= places_path %>?q=tags:<%= tag %>">
                    <button class="rounded-full text-xs font-bold text-white bg-orange-600 py-1 px-2"><%= tag %></button>
                </a>
            <% end %>
        <% end %>
    </div>
</div>

<div class="flex flex-row mt-5">
    <div class="w-1/12"></div>

    <table class="w-10/12">
        <thead class="font-normal text-left text-xs leading-6 text-zinc-800">
            <tr class="">
                <th class="p-4">name</th>
                <th class="p-4">tags</th>
                <th class="p-4">notes</th>
                <th class="p-4">location</th>
                <th class="p-4"></th>
            </tr>
        </thead>
        <tbody id="places-data">
            <% places_list.each do |place| %>
                <tr class="group hover:bg-zinc-50 odd:bg-white even:bg-slate-50 text-xs">
                    <td class="p-4 font-normal">
                        <%= place.name %>
                    </td>
                    <td class="p-4 font-normal">
                        <%= place.tags.join(", ") %>
                    </td>
                    <td class="p-4 font-normal">
                        <%= place.notes_size %>
                    </td>
                    <td class="p-4">
                        <% if city %>
                            <%= [place.city, place.country_code].join(', ') %>
                        <% else %>
                            <a href="/places/city/<%= place.city_lower %>" class="font-bold text-blue-800">
                                <%= [place.city, place.country_code].join(', ') %>
                            </a>
                        <% end %>
                    </td>
                    <td class="p-4">
                        <a href="/places/<%= place.id %>/edit" class="">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-4 text-blue-800">
                                <path d="m2.695 14.762-1.262 3.155a.5.5 0 0 0 .65.65l3.155-1.262a4 4 0 0 0 1.343-.886L17.5 5.501a2.121 2.121 0 0 0-3-3L3.58 13.419a4 4 0 0 0-.885 1.343Z" />
                            </svg>
                        </a>

                    </td>
                </tr>
            <% end %>    
        </tbody>
    </table>
</div>

<div class="flex flex-row mt-10 mb-10">
    <div class="w-1/12"></div>
    <div class="w-10/12">
        <nav class="flex items-center justify-between gap-x-1" aria-label="Pagination">
            <button type="button" class="min-h-9.5 min-w-9.5 py-2 px-2.5 inline-flex justify-center items-center gap-x-1.5 text-xs rounded-lg text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none" aria-label="Previous">
                <% if offset > 0 %>
                    <a href="<%= page_prev %>" class="">
                        <svg aria-hidden="true" class="hidden shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="m15 18-6-6 6-6"></path>
                        </svg>
                        <span>Previous</span>
                    </a>
                <% end %>
            </button>

            <button type="button" class="min-h-9.5 min-w-9.5 py-2 px-2.5 inline-flex justify-center items-center gap-x-1.5 text-xs rounded-lg text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none" aria-label="Next">
                <% if offset + limit < total %>
                    <a href="<%= page_next %>" class="">
                        <span>Next</span>
                        <svg aria-hidden="true" class="hidden shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="m9 18 6-6-6-6"></path>
                        </svg>
                    </a>
                <% end %>
            </button>
        </nav>
    </div>
</div>