<div class="col-start-2 col-span-10 mx-4 font-normal text-zinc-400 text-xs">
  query '<%= query %>', results <%= places_count %>
</div>

<table class="col-start-2 col-span-10 mt-10">
  <thead class="font-normal text-left text-xs leading-6 text-zinc-800">
    <tr class="border-b-2">
      <th class="p-4 pr-6">name</th>
      <th class="p-4 pr-6">location</th>
      <th class="p-4 pr-6">tags</th>
    </tr>
  </thead>
  <tbody id="places-data">
    <% places_list.each do |place| %>
      <tr class="group hover:bg-zinc-50 odd:bg-white even:bg-slate-50 text-xs">
        <td class="p-4 pr-6 font-normal">
          <%= place.name %>
        </td>
        <td class="p-4 pr-6 font-normal">
          <a href="/maps?city=<%= place.city %>" class="font-semibold text-blue-800">
            <%= [place.city, place.country_code].join(', ') %>
          </a>
        </td>
        <td class="p-4 pr-6 font-normal">
          <%= place.tags.join(", ") %>
        </td>
      </tr>
    <% end %>    
  </tbody>
</table>
